{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://mq.amazonaws.com/"
        },
        {
            "url": "http://mq.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon MQ is a managed message broker service for Apache ActiveMQ that makes it easy to set up and operate message brokers in the cloud. A message broker allows software applications and components to communicate using various programming languages, operating systems, and formal messaging protocols.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AmazonMQ",
        "version": "2017-11-27",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mq-2017-11-27.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "mq"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/mq/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v1/brokers": {
            "get": {
                "description": "Returns a list of all brokers.",
                "operationId": "ListBrokers",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BrokerSummaries": {
                                            "description": "A list of information about all brokers.",
                                            "items": {
                                                "description": "The Amazon Resource Name (ARN) of the broker.",
                                                "properties": {
                                                    "BrokerArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the broker.",
                                                        "type": "string"
                                                    },
                                                    "BrokerId": {
                                                        "description": "The unique ID that Amazon MQ generates for the broker.",
                                                        "type": "string"
                                                    },
                                                    "BrokerName": {
                                                        "description": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
                                                        "type": "string"
                                                    },
                                                    "BrokerState": {
                                                        "description": "The status of the broker.",
                                                        "enum": [
                                                            "CREATION_IN_PROGRESS",
                                                            "CREATION_FAILED",
                                                            "DELETION_IN_PROGRESS",
                                                            "RUNNING",
                                                            "REBOOT_IN_PROGRESS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Created": {
                                                        "description": "The time when the broker was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DeploymentMode": {
                                                        "description": "Required. The deployment mode of the broker.",
                                                        "enum": [
                                                            "SINGLE_INSTANCE",
                                                            "ACTIVE_STANDBY_MULTI_AZ"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "HostInstanceType": {
                                                        "description": "The broker's instance type.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a broker. Note: This API is asynchronous.",
                "operationId": "CreateBroker",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BrokerArn": {
                                            "description": "The Amazon Resource Name (ARN) of the broker.",
                                            "type": "string"
                                        },
                                        "BrokerId": {
                                            "description": "The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Creates a broker using the specified properties.",
                                "properties": {
                                    "AutoMinorVersionUpgrade": {
                                        "description": "Required. Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
                                        "type": "boolean"
                                    },
                                    "BrokerName": {
                                        "description": "Required. The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
                                        "type": "string"
                                    },
                                    "Configuration": {
                                        "description": "A list of information about the configuration.",
                                        "properties": {
                                            "Id": {
                                                "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                "type": "string"
                                            },
                                            "Revision": {
                                                "description": "The revision number of the configuration.",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "CreatorRequestId": {
                                        "description": "The unique ID that the requester receives for the created broker. Amazon MQ passes your ID with the API action. Note: We recommend using a Universally Unique Identifier (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application doesn't require idempotency.",
                                        "type": "string"
                                    },
                                    "DeploymentMode": {
                                        "description": "Required. The deployment mode of the broker.",
                                        "enum": [
                                            "SINGLE_INSTANCE",
                                            "ACTIVE_STANDBY_MULTI_AZ"
                                        ],
                                        "type": "string"
                                    },
                                    "EngineType": {
                                        "description": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
                                        "enum": [
                                            "ACTIVEMQ"
                                        ],
                                        "type": "string"
                                    },
                                    "EngineVersion": {
                                        "description": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                        "type": "string"
                                    },
                                    "HostInstanceType": {
                                        "description": "Required. The broker's instance type.",
                                        "type": "string"
                                    },
                                    "Logs": {
                                        "description": "Enables Amazon CloudWatch logging for brokers.",
                                        "properties": {
                                            "Audit": {
                                                "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
                                                "type": "boolean"
                                            },
                                            "General": {
                                                "description": "Enables general logging.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "MaintenanceWindowStartTime": {
                                        "description": "The parameters that determine the WeeklyStartTime.",
                                        "properties": {
                                            "DayOfWeek": {
                                                "description": "Required. The day of the week.",
                                                "enum": [
                                                    "MONDAY",
                                                    "TUESDAY",
                                                    "WEDNESDAY",
                                                    "THURSDAY",
                                                    "FRIDAY",
                                                    "SATURDAY",
                                                    "SUNDAY"
                                                ],
                                                "type": "string"
                                            },
                                            "TimeOfDay": {
                                                "description": "Required. The time, in 24-hour format.",
                                                "type": "string"
                                            },
                                            "TimeZone": {
                                                "description": "The time zone, UTC by default, in either the Country/City format, or the UTC offset format.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "PubliclyAccessible": {
                                        "description": "Required. Enables connections from applications outside of the VPC that hosts the broker's subnets.",
                                        "type": "boolean"
                                    },
                                    "SecurityGroups": {
                                        "description": "The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SubnetIds": {
                                        "description": "The list of groups (2 maximum) that define which subnets and IP ranges the broker can use from different Availability Zones. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment requires two subnets.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Tags": {
                                        "description": "Create tags when creating the broker.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Users": {
                                        "description": "Required. The list of ActiveMQ users (persons or applications) who can access queues and topics. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                        "items": {
                                            "description": "An ActiveMQ user associated with the broker.",
                                            "properties": {
                                                "ConsoleAccess": {
                                                    "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                                                    "type": "boolean"
                                                },
                                                "Groups": {
                                                    "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Password": {
                                                    "description": "Required. The password of the ActiveMQ user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
                                                    "type": "string"
                                                },
                                                "Username": {
                                                    "description": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/brokers/{broker-id}": {
            "delete": {
                "description": "Deletes a broker. Note: This API is asynchronous.",
                "operationId": "DeleteBroker",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BrokerId": {
                                            "description": "The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns information about the specified broker.",
                "operationId": "DescribeBroker",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AutoMinorVersionUpgrade": {
                                            "description": "Required. Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
                                            "type": "boolean"
                                        },
                                        "BrokerArn": {
                                            "description": "The Amazon Resource Name (ARN) of the broker.",
                                            "type": "string"
                                        },
                                        "BrokerId": {
                                            "description": "The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        },
                                        "BrokerInstances": {
                                            "description": "A list of information about allocated brokers.",
                                            "items": {
                                                "description": "Returns information about all brokers.",
                                                "properties": {
                                                    "ConsoleURL": {
                                                        "description": "The URL of the broker's ActiveMQ Web Console.",
                                                        "type": "string"
                                                    },
                                                    "Endpoints": {
                                                        "description": "The broker's wire-level protocol endpoints.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "IpAddress": {
                                                        "description": "The IP address of the Elastic Network Interface (ENI) attached to the broker.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "BrokerName": {
                                            "description": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
                                            "type": "string"
                                        },
                                        "BrokerState": {
                                            "description": "The status of the broker.",
                                            "enum": [
                                                "CREATION_IN_PROGRESS",
                                                "CREATION_FAILED",
                                                "DELETION_IN_PROGRESS",
                                                "RUNNING",
                                                "REBOOT_IN_PROGRESS"
                                            ],
                                            "type": "string"
                                        },
                                        "Configurations": {
                                            "description": "The list of all revisions for the specified configuration.",
                                            "properties": {
                                                "Current": {
                                                    "description": "The current configuration of the broker.",
                                                    "properties": {
                                                        "Id": {
                                                            "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                            "type": "string"
                                                        },
                                                        "Revision": {
                                                            "description": "The revision number of the configuration.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "History": {
                                                    "description": "The history of configurations applied to the broker.",
                                                    "items": {
                                                        "description": "A list of information about the configuration.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                                "type": "string"
                                                            },
                                                            "Revision": {
                                                                "description": "The revision number of the configuration.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Pending": {
                                                    "description": "The pending configuration of the broker.",
                                                    "properties": {
                                                        "Id": {
                                                            "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                            "type": "string"
                                                        },
                                                        "Revision": {
                                                            "description": "The revision number of the configuration.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Created": {
                                            "description": "The time when the broker was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DeploymentMode": {
                                            "description": "Required. The deployment mode of the broker.",
                                            "enum": [
                                                "SINGLE_INSTANCE",
                                                "ACTIVE_STANDBY_MULTI_AZ"
                                            ],
                                            "type": "string"
                                        },
                                        "EngineType": {
                                            "description": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
                                            "enum": [
                                                "ACTIVEMQ"
                                            ],
                                            "type": "string"
                                        },
                                        "EngineVersion": {
                                            "description": "The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                            "type": "string"
                                        },
                                        "HostInstanceType": {
                                            "description": "The broker's instance type.",
                                            "type": "string"
                                        },
                                        "Logs": {
                                            "description": "The list of information about logs currently enabled and pending to be deployed for the specified broker.",
                                            "properties": {
                                                "Audit": {
                                                    "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
                                                    "type": "boolean"
                                                },
                                                "AuditLogGroup": {
                                                    "description": "The location of the CloudWatch Logs log group where audit logs are sent.",
                                                    "type": "string"
                                                },
                                                "General": {
                                                    "description": "Enables general logging.",
                                                    "type": "boolean"
                                                },
                                                "GeneralLogGroup": {
                                                    "description": "The location of the CloudWatch Logs log group where general logs are sent.",
                                                    "type": "string"
                                                },
                                                "Pending": {
                                                    "description": "The list of information about logs pending to be deployed for the specified broker.",
                                                    "properties": {
                                                        "Audit": {
                                                            "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
                                                            "type": "boolean"
                                                        },
                                                        "General": {
                                                            "description": "Enables general logging.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "MaintenanceWindowStartTime": {
                                            "description": "The parameters that determine the WeeklyStartTime.",
                                            "properties": {
                                                "DayOfWeek": {
                                                    "description": "Required. The day of the week.",
                                                    "enum": [
                                                        "MONDAY",
                                                        "TUESDAY",
                                                        "WEDNESDAY",
                                                        "THURSDAY",
                                                        "FRIDAY",
                                                        "SATURDAY",
                                                        "SUNDAY"
                                                    ],
                                                    "type": "string"
                                                },
                                                "TimeOfDay": {
                                                    "description": "Required. The time, in 24-hour format.",
                                                    "type": "string"
                                                },
                                                "TimeZone": {
                                                    "description": "The time zone, UTC by default, in either the Country/City format, or the UTC offset format.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "PendingEngineVersion": {
                                            "description": "The version of the broker engine to upgrade to. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                            "type": "string"
                                        },
                                        "PubliclyAccessible": {
                                            "description": "Required. Enables connections from applications outside of the VPC that hosts the broker's subnets.",
                                            "type": "boolean"
                                        },
                                        "SecurityGroups": {
                                            "description": "Required. The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SubnetIds": {
                                            "description": "The list of groups (2 maximum) that define which subnets and IP ranges the broker can use from different Availability Zones. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment requires two subnets.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "Tags": {
                                            "description": "The list of all tags associated with this broker.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Users": {
                                            "description": "The list of all ActiveMQ usernames for the specified broker.",
                                            "items": {
                                                "description": "Returns a list of all ActiveMQ users.",
                                                "properties": {
                                                    "PendingChange": {
                                                        "description": "The type of change pending for the ActiveMQ user.",
                                                        "enum": [
                                                            "CREATE",
                                                            "UPDATE",
                                                            "DELETE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Username": {
                                                        "description": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Adds a pending configuration change to a broker.",
                "operationId": "UpdateBroker",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AutoMinorVersionUpgrade": {
                                            "description": "The new value of automatic upgrades to new minor version for brokers.",
                                            "type": "boolean"
                                        },
                                        "BrokerId": {
                                            "description": "Required. The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        },
                                        "Configuration": {
                                            "description": "The ID of the updated configuration.",
                                            "properties": {
                                                "Id": {
                                                    "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                    "type": "string"
                                                },
                                                "Revision": {
                                                    "description": "The revision number of the configuration.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "EngineVersion": {
                                            "description": "The version of the broker engine to upgrade to. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                            "type": "string"
                                        },
                                        "Logs": {
                                            "description": "The list of information about logs to be enabled for the specified broker.",
                                            "properties": {
                                                "Audit": {
                                                    "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
                                                    "type": "boolean"
                                                },
                                                "General": {
                                                    "description": "Enables general logging.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Updates the broker using the specified properties.",
                                "properties": {
                                    "AutoMinorVersionUpgrade": {
                                        "description": "Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
                                        "type": "boolean"
                                    },
                                    "Configuration": {
                                        "description": "A list of information about the configuration.",
                                        "properties": {
                                            "Id": {
                                                "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                "type": "string"
                                            },
                                            "Revision": {
                                                "description": "The revision number of the configuration.",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "EngineVersion": {
                                        "description": "The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                        "type": "string"
                                    },
                                    "Logs": {
                                        "description": "Enables Amazon CloudWatch logging for brokers.",
                                        "properties": {
                                            "Audit": {
                                                "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
                                                "type": "boolean"
                                            },
                                            "General": {
                                                "description": "Enables general logging.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/brokers/{broker-id}/reboot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Reboots a broker. Note: This API is asynchronous.",
                "operationId": "RebootBroker",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/brokers/{broker-id}/users": {
            "get": {
                "description": "Returns a list of all ActiveMQ users.",
                "operationId": "ListUsers",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BrokerId": {
                                            "description": "Required. The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        },
                                        "MaxResults": {
                                            "description": "Required. The maximum number of ActiveMQ users that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
                                            "maximum": 100,
                                            "minimum": 5,
                                            "type": "integer"
                                        },
                                        "NextToken": {
                                            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
                                            "type": "string"
                                        },
                                        "Users": {
                                            "description": "Required. The list of all ActiveMQ usernames for the specified broker.",
                                            "items": {
                                                "description": "Returns a list of all ActiveMQ users.",
                                                "properties": {
                                                    "PendingChange": {
                                                        "description": "The type of change pending for the ActiveMQ user.",
                                                        "enum": [
                                                            "CREATE",
                                                            "UPDATE",
                                                            "DELETE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Username": {
                                                        "description": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/brokers/{broker-id}/users/{username}": {
            "delete": {
                "description": "Deletes an ActiveMQ user.",
                "operationId": "DeleteUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns information about an ActiveMQ user.",
                "operationId": "DescribeUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BrokerId": {
                                            "description": "Required. The unique ID that Amazon MQ generates for the broker.",
                                            "type": "string"
                                        },
                                        "ConsoleAccess": {
                                            "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                                            "type": "boolean"
                                        },
                                        "Groups": {
                                            "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "Pending": {
                                            "description": "The status of the changes pending for the ActiveMQ user.",
                                            "properties": {
                                                "ConsoleAccess": {
                                                    "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                                                    "type": "boolean"
                                                },
                                                "Groups": {
                                                    "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "PendingChange": {
                                                    "description": "Required. The type of change pending for the ActiveMQ user.",
                                                    "enum": [
                                                        "CREATE",
                                                        "UPDATE",
                                                        "DELETE"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Username": {
                                            "description": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an ActiveMQ user.",
                "operationId": "CreateUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Creates a new ActiveMQ user.",
                                "properties": {
                                    "ConsoleAccess": {
                                        "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                                        "type": "boolean"
                                    },
                                    "Groups": {
                                        "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Password": {
                                        "description": "Required. The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "put": {
                "description": "Updates the information for an ActiveMQ user.",
                "operationId": "UpdateUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "broker-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Updates the information for an ActiveMQ user.",
                                "properties": {
                                    "ConsoleAccess": {
                                        "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                                        "type": "boolean"
                                    },
                                    "Groups": {
                                        "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Password": {
                                        "description": "The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/configurations": {
            "get": {
                "description": "Returns a list of all configurations.",
                "operationId": "ListConfigurations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Configurations": {
                                            "description": "The list of all revisions for the specified configuration.",
                                            "items": {
                                                "description": "Returns information about all configurations.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "Required. The ARN of the configuration.",
                                                        "type": "string"
                                                    },
                                                    "Created": {
                                                        "description": "Required. The date and time of the configuration revision.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "Required. The description of the configuration.",
                                                        "type": "string"
                                                    },
                                                    "EngineType": {
                                                        "description": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
                                                        "enum": [
                                                            "ACTIVEMQ"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "EngineVersion": {
                                                        "description": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                                                        "type": "string"
                                                    },
                                                    "LatestRevision": {
                                                        "description": "Required. The latest revision of the configuration.",
                                                        "properties": {
                                                            "Created": {
                                                                "description": "Required. The date and time of the configuration revision.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "The description of the configuration revision.",
                                                                "type": "string"
                                                            },
                                                            "Revision": {
                                                                "description": "Required. The revision number of the configuration.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Name": {
[...]
